*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  background: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content{
  width: 80%;
  height: 50vh;
  color: whitesmoke;
  text-align: center;
}

.content h1{
  margin: 20px auto;
}

.account{
  display: inline-block;
  text-align: center;
  border: 2px solid transparent;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.account img{
  width: 100px;
  height: 100px;
}

.account p {
  font-size: 16px;
  margin-top: 20px;
}

.content button{
  outline: none;
  padding: 10px 20px;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  background: transparent;
  font-size: 16px;
  margin: 10px auto;
  transition: 300ms linear all;
  cursor: pointer;
}

.content button:hover{
  color: black;
  background: whitesmoke;
}

.selected{
  border: 2px solid white;
}