.box {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background-color: red;
}

@media screen and (max-width: 480px) {
   .box {
    background-color: green;
   } 
}

/* .bluePara {
    color: blue;
} */